@import '../sass/colors';

:host {
  display: block;
}

a:link,
a:visited,
a:active {
  color: $ws-brand-color-darken-1;
  font-weight: bold;
}

a:hover,
a:focus {
  color: $ws-brand-color-darken-3;
}
