@import '../../../node_modules/keroseen-ui/src/components/variables';
@import '../../../node_modules/keroseen-ui/src/components/utilities';
@import '../../../node_modules/keroseen-ui/src/components/resets';
@import '../../../node_modules/keroseen-ui/src/components/cards';

@import '../../sass/colors';

@include keroseen-resets();

:host {
  display: block;
}

$colors: 'pynk', 'cottoncandy', 'twilight', 'chartreuse', 'carrot', 'tomato', 'maroon', 'teal', 'cream', 'parrot';

@each $color in $colors{
  :host(.#{$color}) .ws-card {
    background-color: get-color($color);
  }
}
.ws-card {
  @include keroseen-card();
  color: get-color('white');

  .ws-card-content {
    @include keroseen-card-content();
    padding-bottom: 0;
  }

  .ws-card-title {
    @include keroseen-card-title();
  }

  .ws-card-actions {
    @include keroseen-card-actions();
    background-color: get-color('white');
    margin: 0 -1.5rem -.5rem;
    padding: .5rem 1.5rem;

    .ws-card-action-item {
      @include keroseen-card-action-item();
      color: get-color('tomato');

      &:hover,
      &:focus {
        background-color: rgba(get-color('tomato'), .2);
      }
    }
  }
}
