@import '../../../node_modules/keroseen-ui/src/components/variables';
@import '../../../node_modules/keroseen-ui/src/components/utilities';
@import '../../../node_modules/keroseen-ui/src/components/resets';
@import '../../../node_modules/keroseen-ui/src/components/cards';

@import '../../sass/colors';

@include keroseen-resets();

:host {
  display: block;
}

.ws-card {
  @include keroseen-card();

  .ws-card-content {
    @include keroseen-card-content();
    padding-bottom: 0;
  }

  .ws-card-title {
    @include keroseen-card-title();
  }

  .ws-card-actions {
    @include keroseen-card-actions();
    background-color: $default-white;
    margin: 0 -1.5rem -.5rem;
    padding: .5rem 1.5rem;

    .ws-card-action-item {
      @include keroseen-card-action-item();
      color: $ws-brand-color;

      &:hover,
      &:focus {
        background-color: rgba($ws-brand-color, .2);
      }
    }
  }
}
