@import '../../node_modules/keroseen-ui/src/components/variables';
@import '../../node_modules/keroseen-ui/src/components/utilities';
@import '../../node_modules/keroseen-ui/src/components/resets';

@import '../../node_modules/keroseen-ui/src/components/grid';

@import '../sass/colors';
@import '../sass/component-base';

@include keroseen-resets();

.ws-grid {
  @include keroseen-grid();
}

ws-project-card {
  a:link,
  a:active,
  a:visited {
    color: $default-white;
  }
}
