@import '../../node_modules/keroseen-ui/src/components/variables';
@import '../../node_modules/keroseen-ui/src/components/utilities';
@import '../../node_modules/keroseen-ui/src/components/resets';

@import '../../node_modules/keroseen-ui/src/components/grid';

@import '../sass/colors';
@import '../sass/component-base';

@include keroseen-resets();

:host {
  display: block;
}

.ws-grid {
  @include keroseen-grid();
}

ws-project-card {
  a:link,
  a:active,
  a:visited {
    color: get-color('white');
  }

  a:hover,
  a:focus {
    color: darken(get-color('white'), 10%);
  }
}
