@import '../../../node_modules/keroseen-ui/src/components/variables';
@import '../../../node_modules/keroseen-ui/src/components/utilities';
@import '../../../node_modules/keroseen-ui/src/components/resets';
@import '../../../node_modules/keroseen-ui/src/components/shared-nav';
@import '../../../node_modules/keroseen-ui/src/components/top-nav';

@import '../../sass/colors';

@include keroseen-resets();

:host {
  display: block;
}

.ws-top-nav {
  @include keroseen-top-nav();
  background-color: get-color('tomato');
  color: get-color('white');
  z-index: 900;

  @include keroseen-top-nav-fixed();

  &.open {
    .ws-top-nav-container {
      @include keroseen-top-nav-mobile-open();
    }
  }

  .ws-top-nav-menu-button {
    @include keroseen-nav-mobile-menu();

    z-index: 1000;
  }

  .ws-top-nav-container {
    background-color: get-color('tomato');
    z-index: 950;

    @include keroseen-top-nav-container();

    @media (max-width: $keroseen-screen-xs) {
      padding-top: keroseen-px-to-rem(50px)
    }

    .ws-top-nav-main {
      @include keroseen-top-nav-main();
    }
  }

  .ws-top-nav-identifier {
    @include keroseen-top-nav-identifier();

    display: inline-flex;
    position: reltiave;
    z-index: 1000;
  }

  .ws-top-nav-identifier-image {
    margin: keroseen-px-to-rem(-5px) keroseen-px-to-rem(5px) 0 keroseen-px-to-rem(-5px);
    height: keroseen-px-to-rem(40px);

    @media screen and (min-width: $keroseen-screen-sm) {
      height: keroseen-px-to-rem(50px);
    }
  }

  .ws-nav-link {
    @include keroseen-top-nav-link();
    @include keroseen-top-nav-first-link();
    color: get-color('white');
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken(get-color('white'), 5%);
      text-decoration: underline;
    }
  }
}
